In [5]:
import pandas as pd

In [18]:
groups=["somke", "mute", "ash", "jager", "doc", "rook"]
ironmen = [60, 1, 19, 99, 10000, 99]
ironmen_dict = {"groups":groups, "ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

  groups  ironmen
0  somke       60
1   mute        1
2    ash       19
3  jager       99
4    doc    10000
5   rook       99

In [7]:
print(ironmen_df.ndim)
print("---") # 分隔線
print(ironmen_df.shape)
print("---") # 分隔線
print(ironmen_df.dtypes)

2
---
(6, 2)
---
groups     object
ironmen     int64
dtype: object

In [9]:
print (ironmen_df.sum()) #計算總數
print (ironmen_df.mean()) #計算平均
print (ironmen_df.median()) #計算中位
print (ironmen_df.describe()) #列出所有描述性統計

groups     somkemuteashjagerdocrook
ironmen                       10278
dtype: object
ironmen    1713.0
dtype: float64
ironmen    79.5
dtype: float64
           ironmen
count      6.00000
mean    1713.00000
std     4059.98399
min        1.00000
25%       29.25000
50%       79.50000
75%       99.00000
max    10000.00000

In [19]:
import numpy as np
groups=["somke", "mute", "ash", np.nan , "doc", "rook"]
ironmen = [60, 19, 99, 10000, 99, np.nan]
ironmen_dict = {"groups":groups, "ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---")
print(ironmen_df.loc[:, "groups"].isnull()) # 判斷哪些組的組名是遺失值
print("---")
print(ironmen_df.loc[:, "ironmen"].notnull()) # 判斷哪些組的鐵人數不是遺失值

  groups  ironmen
0  somke     60.0
1   mute     19.0
2    ash     99.0
3    NaN  10000.0
4    doc     99.0
5   rook      NaN
---
0    False
1    False
2    False
3     True
4    False
5    False
Name: groups, dtype: bool
---
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [20]:
print(ironmen_df.groups[ironmen_df.loc[:, "groups"].isnull()])
print(ironmen_df.ironmen[ironmen_df.loc[:, "ironmen"].notnull()])

3    NaN
Name: groups, dtype: object
0       60.0
1       19.0
2       99.0
3    10000.0
4       99.0
Name: ironmen, dtype: float64

In [21]:
ironmen_df.groups[ironmen_df.loc[:,"groups"].isnull()] = "換電腦"
ironmen_df.ironmen[ironmen_df.loc[:,"ironmen"].notnull()] +=10

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
print(ironmen_df)
ironmen_df_dropped = ironmen_df.dropna() # 有遺失值的觀測值都刪除
print(ironmen_df_dropped)
ironmen_df_filled = ironmen_df.fillna(0) # 有遺失值的觀測值填補 0
print(ironmen_df_filled)
ironmen_df_fillvalue = ironmen_df.fillna({"group":"cloud", "ironmen":71}) # 依欄位填補遺失值
print(ironmen_df_fillvalue)

  groups  ironmen
0  somke     70.0
1   mute     29.0
2    ash    109.0
3    換電腦  10010.0
4    doc    109.0
5   rook      NaN
  groups  ironmen
0  somke     70.0
1   mute     29.0
2    ash    109.0
3    換電腦  10010.0
4    doc    109.0
  groups  ironmen
0  somke     70.0
1   mute     29.0
2    ash    109.0
3    換電腦  10010.0
4    doc    109.0
5   rook      0.0
  groups  ironmen
0  somke     70.0
1   mute     29.0
2    ash    109.0
3    換電腦  10010.0
4    doc    109.0
5   rook     71.0

In [8]:
groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

# 用索引值排序
ironmen_df.sort_index()

            ironmen
Big Data         14
Cloud            19
DevOps            9
Modern Web       59
Security          6
自我挑戰組            77

In [9]:
groups = ["Modern Web", "DevOps", "Cloud", "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], index = groups)

# 用數值排序
ironmen_df.sort_values(by = "ironmen")

            ironmen
Security          6
DevOps            9
Big Data         14
Cloud            19
Modern Web       59
自我挑戰組            77