### iloc 利用索引來篩選資料
### loc 利用label來篩選資料

In [1]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4), index= list('abcd'), columns=list('ABCD'))
frame
#  隨機產生DataFrame類型的資料

          A         B         C         D
a  0.035708  0.585065  0.502105  0.771851
b  0.592915  0.753223  0.947097  0.519903
c  0.544519  0.395945  0.824118  0.965521
d  0.436013  0.807815  0.172342  0.547456

In [2]:
# 橫的叫列，直的叫欄
#.loc先列後欄，中間用逗號（,）分割，例如取 a 和 A 對應的資料
frame.loc['a','A']

0.03570821704358196

In [3]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.402289  0.635512  0.611416  0.701183
std    0.253039  0.185725  0.347687  0.209255
min    0.035708  0.395945  0.172342  0.519903
25%    0.335937  0.537785  0.419665  0.540568
50%    0.490266  0.669144  0.663112  0.659654
75%    0.556618  0.766871  0.854863  0.820268
max    0.592915  0.807815  0.947097  0.965521

In [5]:
#取前兩行對應資料
frame.loc['a':'b', :]

          A         B         C         D
a  0.035708  0.585065  0.502105  0.771851
b  0.592915  0.753223  0.947097  0.519903

In [6]:
# 取前兩欄對應資料
frame.loc[:,'A':'B']

          A         B
a  0.035708  0.585065
b  0.592915  0.753223
c  0.544519  0.395945
d  0.436013  0.807815

In [8]:
# 綜合
print(frame.loc[['a','c'],:])
print(frame.loc[:, ['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.035708  0.585065  0.502105  0.771851
c  0.544519  0.395945  0.824118  0.965521
          A         C
a  0.035708  0.502105
b  0.592915  0.947097
c  0.544519  0.824118
d  0.436013  0.172342
          A         D
a  0.035708  0.771851
d  0.436013  0.547456

In [11]:
frame.iloc[0,0]

0.03570821704358196

In [14]:
# 取前兩列對應資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.035708  0.585065  0.502105  0.771851
b  0.592915  0.753223  0.947097  0.519903

In [16]:
# 綜合
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.035708  0.585065  0.502105  0.771851
c  0.544519  0.395945  0.824118  0.965521
          A         C
a  0.035708  0.502105
b  0.592915  0.947097
c  0.544519  0.824118
d  0.436013  0.172342
          A         D
a  0.035708  0.771851
d  0.436013  0.547456